@import "typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        font-family: 'HK Grotesk', sans-serif;
        background-color: #F2F1EF !important;
    }

    h1 {
      font-family: 'Intro-Bd', sans-serif;
      @apply text-gray-900
    }

    h2 {
      font-family: 'Intro-Bd', sans-serif;
      @apply text-gray-900
    }

    h3 {
      font-family: 'HK Grotesk', sans-serif;
      @apply text-gray-900;
      font-weight: bold;
    }


    h4 {
      font-family: 'Intro-Bd', sans-serif;
      @apply text-gray-900
    }
  }
  
@layer components {
    /* .btn-blue {
      @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
    } */
  }
  
@layer utilities {
   
  }


/* react-modal transitions */
.ReactModal__Overlay {
  overflow: auto;
  opacity: 0;
  transform: translateY(-10%);
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95), transform
      0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-10%);
}