@font-face {
    font-family: 'HK Grotesk';
    src: url('http://fonts.cdnfonts.com/css/hk-groteks');
}

@font-face {
    font-family: 'Intro-Bd';
    src: local('Intro-Trial-Bd'), url('../fonts/Intro/Intro-Trial-BdAlt.ttf');
}

@font-face {
    font-family: 'Intro-Md';
    src: local('Intro-Trial-Md'), url('../fonts/Intro/Intro-Trial-MdAlt.ttf');
}
